*~
*.o
*.o.*
*.a
*.s
*.ko
*.la
*.lo
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.gmo

.deps/
.libs/
aclocal*
autom4te.cache
depcomp
ABOUT-NLS
ChangeLog
compile
config.*
configure
docs/*
libtool
ltmain.sh
Makefile
Makefile.in*
m4
missing
mkinstalldirs
panel-plugin/eyes.desktop
panel-plugin/xfce4-eyes-plugin
po/POTFILES
po/stamp-po
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/*.pot
readme.txt
stamp-*
INSTALL
install-sh
